body {
    font-family: Cambria, Georgia, 'Times New Roman';
    margin: 0;
}

#header .item h3, .item h4, .pagination a {
    font: bold 1em "Arial Narrow", "Franclin Gothic Medium", Arial;
}

#header {
    background-color: #444;
    border-bottom: 2px solid #111;
    color: white;
}

#header .title {
    font-size: 2em;
    padding: .5em;
}

#content {
    border-left: 2px solid gray;
    margin-left: 9em;
    padding: 1em;
}

#categories {
    float: left;
    width: 8em;
    padding: .3em;
}

.item {
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
}

.item:first-child {
    border-top: none;
    padding-top: 0;
}

.item h3 {
    font-size: 1.3em;
    margin: 0 0 .25em 0;
}

.item h4 {
    font-size: 1.1em;
    margin: .4em 0 0 0;
}

.pagination {
    text-align: right;
    border-top: 2px solid silver;
    padding: .5em 0 0 0;
    margin-bottom: 1em;
}

.pagination a {
    font-size: 1.1em;
    color: #777;
    text-decoration: none;
    padding: 0 .4em;
}

.pagination a:hover {
    background-color: silver;
}

.pagination a.active {
    background-color: #353535;
    color: white;
}